:root {
  font-family: Poppins, Calibri, Trebuchet MS, Helvetica, Arial, sans-serif;
  font-synthesis: none; /* Disables both bold and italic synthesis. */
  text-rendering: optimizeLegibility; /* Prioritizes better readability and enables advanced font features. */
  /* adjusts font smoothing settings */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(
                    0deg,
                    #425F57 0%,
                    #749F82 50%,
                    #A8E890 85%,
                    #CFFF8D 100%
                );
}

