:root {
  font-family: Poppins, Calibri, Trebuchet MS, Helvetica, Arial, sans-serif;
  font-synthesis: none; /* Disables both bold and italic synthesis. */
  text-rendering: optimizeLegibility; /* Prioritizes better readability and enables advanced font features. */
  /* adjusts font smoothing settings */
  -webkit-font-smoothing: antialiased;
}

/*
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    0deg,
    #425f57 0%,
    #749f82 50%,
    #a8e890 85%,
    #cfff8d 100%
  );
}
*/